*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: rgb(17, 117, 188);
}
nav h1{
  text-align: center;
}
.nav-container{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.button-container{
  display: flex;
  align-items: center;
}
.button-container p{
  margin-right: 10px;
  font-size: 1.4rem;
}
#div-container{
  position: relative;
  margin-top: 15px; 
  margin-left: 20px; 
}

button{
  height: 50px;
  width: 50px;
}
#wall{
  background-color: black;
}
#start{
  color: green;
  background-color: green;
}
#end{
  color: red;
  background-color: red;
}
#run{
  width: fit-content;
  padding:5px;
}
#weights{
  background-color: #7F5539;
  color: #7F5539;
}
#canvas{

  background-color: white;
}